WebApplication1/.vs/
WebApplication1/BuissnesLayer/bin/
WebApplication1/BuissnesLayer/obj/
WebApplication1/DataLayer/bin/
WebApplication1/DataLayer/obj/
WebApplication1/PresentationLayer/bin/
WebApplication1/PresentationLayer/obj/
WebApplication1/WebApplication1/bin/
WebApplication1/WebApplication1/obj/
